{% extends 'base.html' %}
{% load static %}
{% block title %}رمز عبور با موفقیت تغییر کرد{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<style>
    body { direction: rtl; }
    .wrapper {
        max-width: 500px;
        margin: 20px auto;
        text-align: right;
    }
    .info { color: #eee; line-height: 1.6; }
    .back-link {
        color: #efefef;
        text-decoration: underline;
        display: inline-block;
        margin-top: 10px;
    }
</style>
{% endblock %}
{% block content %}
<div class="wrapper" >
    <h2>رمز عبور با موفقیت تغییر کرد</h2>
    <p class="info">رمز عبور شما با موفقیت به‌روزرسانی شد. اکنون می‌توانید با استفاده از رمز عبور جدید خود وارد شوید.</p>
    <a href="{% url 'users:login' %}" class="back-link">ورود به حساب کاربری</a>
</div>
{% endblock %}